__pycache__
*.log
.swp
version.py

# pytest
tests/.tests
.hypothesis
.pytest_cache
.coverage*
pytest_session.txt

# editors
.vscode

# ts_pre_commit_config
.pre-commit-config.yaml
.flake8
.isort.cfg
.mypy.ini
